body
{
	font-family: var(--font-family) !important;
	overflow-x: hidden;
}

.main_heading {
    margin: 5% 0%;
}

.main_heading h1
{
	font-size: 3em;
    font-weight: 300;
    text-align: center;
    line-height: 1em;
    color: var(--page-foreground-color);
}

.underline
{
    display: inline-block;
    width: 160px;
    height: 2px;
    background-color: var(--primary-light-color);
}

/* Header CSS */

.header-div
{
	min-height: 30em;
}

.logo-div a
{
    color: var(--page-background-text-color) !important;
    font-size: 1.6em;
    margin-top: 0.5em;
}

.top-right-menu-ul
{
	margin-top: 0.8em;
}

.slide-text
{
    color: var(--page-background-text-color);
    margin-top: 5%;
}

@media (max-width: 992px) {
    .slide-text
    {
        margin-top: 10%;
    }
}

.slide-text h1
{
    margin-bottom: 3%;
}


/* Features CSS */
.features-div
{
	text-align: center;
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    -ms-transition: all .15s linear;
    -o-transition: all .15s linear;
    transition: all .15s linear;
}

.features-div:hover
{
	margin-top: -10px;
}


.features-div i
{
	font-size: 3em;
    font-weight: 300;
    color: var(--primary-light-color);
}

.features-div h4
{
    color: var(--page-foreground-color);
    font-weight: 300;
}

.features-div p
{
    color: var(--page-foreground-color);
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.5em;
}

.more-features-div
{
    margin-top: 10%;
	overflow: hidden;
}

.more-feature-div
{
    background: var(--blockquote-background);
    margin: 3% 0%;
    margin-bottom: 0px;
    padding: 3% 0%;
}

.more-feature-div .col-md-6 img
{
    width: 100%;
}


.more-features-div-icon {
    float: left;
    width: 60px;
    height: 60px;
    padding-top: 6px;
    background: var(--primary-light-color);
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    font-size: 30px;
    color: var(--page-background-color);
    line-height: 45px;
    text-align: center;
}

.more-features-div-heading {
    float: right;
    width: 86%;
    margin-top: 0;
    font-weight: 400;
}

.more-features-div-description
{
	float: right;
    width: 86%;
    font-weight: 300;
}

/* Services CSS */
.services-box-gray {
    background: var(--blockquote-background);
}

.services-box
{
    text-align: center;
    padding: 15px 0px;
}

.services-box i
{
    line-height: 1.5em;
    font-size: 3.5em;
}

.services-box h4
{
	font-size: 1.2em;
    font-weight: 400;
}

.services-box p
{
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.5em;
}


/* Footer */
footer {
    padding: 5% 0% 4% 0%;
    text-align: center;
    margin-bottom: 10px;
}

.footer-social {
    font-size: 2.1em;
    line-height: 2.4em;
}

.footer-social  a
{
    color: var(--page-foreground-color);
}


/* Bootstrap CSS */
.navbar-default {
    background-color: transparent;
    border-color: transparent;
    color: var(--page-background-text-color) !important;
}

.navbar-brand {
    color: var(--page-background-text-color) !important;
}

.navbar-collapse {
    color: var(--page-background-text-color) !important;
}

.navbar-nav li a
{
	color: var(--page-background-text-color) !important;
    padding: 1%;
}

.navbar-default .navbar-toggler .icon-bar {
    background-color: var(--page-background-color);
    border-color: transparent;
}

.navbar-default .navbar-toggler:focus, .navbar-default .navbar-toggler:hover {
    background-color: transparent;
    border-color: transparent;
    outline: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

@media (max-width: 991.98px) {
    .navbar-collapse {
      border: 1px solid #ffffff22;
    }

    .nav-item {
      padding: 1%;
    }
  }